<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>100167033053-b5sg6gtstuhn7vt35sgekh0fedm9l53k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.100167033053-b5sg6gtstuhn7vt35sgekh0fedm9l53k</string>
	<key>API_KEY</key>
	<string>AIzaSyBd0AsCJKr3r2b6B8uvH7FC-Tq5vOi4e-0</string>
	<key>GCM_SENDER_ID</key>
	<string>100167033053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KohchanStudio.SamuraiDrama</string>
	<key>PROJECT_ID</key>
	<string>samurai-drama-42788</string>
	<key>STORAGE_BUCKET</key>
	<string>samurai-drama-42788.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:100167033053:ios:adee12fad3715060</string>
	<key>DATABASE_URL</key>
	<string>https://samurai-drama-42788.firebaseio.com</string>
</dict>
</plist>